@page
@using Domain.Enums
@model WebApplication.Pages.Games.CreateModel

@{
    ViewData["Title"] = "Create Game";
}

<h1>Create New Game</h1>

<hr />

<form method="post">
    <div class="form-group">
        <label asp-for="GameName">Game Name</label>
        <input asp-for="GameName" class="form-control" maxlength="20" placeholder="1 to 20 chars required">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
            <span class="input-group-text">Player A Name</span>
            <input asp-for="PlayerAName" class="form-control" maxlength="20" placeholder="1 to 20 chars required">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Player A Type:</span>
                <select class="form-control" asp-for="PlayerAType" asp-items="Html.GetEnumSelectList<EPlayerType>()"></select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
            <span class="input-group-text">Player B Name</span>
            <input asp-for="PlayerBName" class="form-control" maxlength="20" placeholder="1 to 20 chars required">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Player B Type:</span>
                <select class="form-control" asp-for="PlayerBType" asp-items="Html.GetEnumSelectList<EPlayerType>()"></select>
            </div>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="control-label">Game Option</label>
            <select id="selectGameOption" asp-for="GameOptionId" class ="form-control" asp-items="@Model.DbGameOptions"></select>
        </div>
        <div class="form-group col-md-6">
            <hr/>
            <label onclick="let select = document.getElementById('selectGameOption'); window.open('../Options/Preview?id=' + select.options[ select.selectedIndex ].value )" 
                   style="cursor: pointer">Preview Option</label> |
            <label onclick="window.location.href = '../Options/Create'" style="cursor: pointer">Create New Option</label>
        </div>
    </div>
    
    <a class="btn btn-secondary" href="/">Cancel Game Creation</a>
    <button type="submit" class="btn btn-primary">Move to ship placement phase</button>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
