@page
@model WebApplication.Pages.Games.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameOption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameOption.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.PlayerA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.PlayerA.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.PlayerB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.PlayerB.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.NextMoveByA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.NextMoveByA)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Game.GameId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
