@page
@model WebApplication.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameOption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameOption.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.PlayerA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.PlayerA.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.PlayerB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.PlayerB.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.NextMoveByA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.NextMoveByA)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Game.GameId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
