@page
@model WebApplication.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Games</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].GameOption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].PlayerA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].PlayerB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].NextMoveByA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameOption.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerA.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerB.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextMoveByA)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.GameId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
