﻿@page
@model WebApplication.Pages.Ships.CreateModel

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Name: </label>
        <input type="text" class="form-control" asp-for="Name" maxlength="31">
    </div>
    <div class="form-group">
        <label asp-for="Size">Size: </label>
        <input type="number" class="form-control" asp-for="Size" min="1" max="500">
    </div>
    
    <input type="hidden" asp-for="ShouldReturnToOptionCreation" value="@Model.ShouldReturnToOptionCreation">
    
    <button type="submit" class="btn btn-primary">@(Model.ShouldReturnToOptionCreation ? "Return to Options" : "Create")</button>
</form>