﻿@page
@using Domain.Enums
@using Domain
@model WebApplication.Pages.Options.CreateModel

@{
    ViewData["Title"] = "Create Option";
}

<form method="post">
    <div class="input-group mb-3">
        <span class="input-group-text">Game Option Name</span>
        <input class="form-control" type="text" minlength="1" maxlength="20" asp-for="Name">
    </div>
    <div class="input-group mb-3">
         <span class="input-group-text">Board Height</span>
        <input class="form-control" type="number" id="heightDisplay" asp-for="BoardHeight" min="10" max="999" step="1" value="10">
    </div>
    <div class="input-group mb-3">
         <span class="input-group-text">Board Width</span>
        <input class="form-control" type="number" id="widthDisplay" asp-for="BoardWidth" min="10" max="999" step="1" value="10">
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text">Can ships touch?</label>
        <select class="form-control" asp-for="ShipsCanTouch" asp-items="Html.GetEnumSelectList<EShipsCanTouch>()"></select>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Same player goes after hit?</span>
        <input type="checkbox" class="check-input" asp-for="IsSamePlayerAfterHit">
    </div>
    
    <div class="form-group mb-3">
        @foreach (var (shipId, amount) in Model.OptionShips)
        {
            var ship = Model.DbShips.First(x => x.ShipId == shipId);
            <div class="input-group mb-3">
            <span class="input-group-text">@ship.Name (1 x @ship.Size):</span>
            <input class="form-control" asp-for="OptionShips[shipId]" type="number" value="@amount">
            </div>
        }
        <a href="../Ships/Create?from=optCreate">Add New Ship into DB</a>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
