@page
@model WebApplication.Pages.Options.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Game Options</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameOption[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameOption[0].BoardWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameOption[0].BoardHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameOption[0].ShipsCanTouch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameOption[0].NextMoveAfterHit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameOption) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipsCanTouch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextMoveAfterHit)
            </td>
            <td>
                <a asp-page="./Preview" asp-route-id="@item.GameOptionId">View</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameOptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
