﻿@page
@using Domain
@model WebApplication.Pages.Options.Preview

@functions
{
    List<string> GetShipList(GameOption option)
    {
        return option.GameOptionShips
            .Select(s => $"{s.Ship.Name} ({s.Ship.Size}): {s.Amount}")
            .ToList();
    }
}

@{
    var selectedOption = (GameOption) ViewData["GameOption"];
}
<h4>@selectedOption.Name</h4>
<ul>
    <li>Board Height: @selectedOption.BoardHeight</li>
    <li>Board Width: @selectedOption.BoardWidth</li>
    <li>Move after hit by: @selectedOption.NextMoveAfterHit</li>
    <li>Can ships touch? @selectedOption.ShipsCanTouch</li>
    <li>Game option ships:</li>
    <ul>
        @foreach (var ship in GetShipList(selectedOption))
        {
            <li>@ship</li>
    
        }
    </ul>
</ul>

<button type="button" class="btn btn-dark" onclick="window.close(); history.back()">Return</button>