﻿@page
@using Domain.Enums
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <a href="Games/Create">New Game</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].GameOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].PlayerA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].PlayerB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game[0].NextMoveByA)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Game)
    {
        var route = "../Battleships";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameOption.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerA.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerB.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextMoveByA)
            </td>
            <td>
                <a href="@route?id=@item.GameId">Load</a>
            </td>
        </tr>
    }
    </tbody>
</table>