﻿@page
@model WebApplication.Pages.Battleships.AiSetUp

<div class="d-flex align-items-center justify-content-center" style="height: 90vh">
    <h3>Placing Ships on Board</h3>
    
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>


@section Scripts
{
    <link rel="stylesheet" href="~/css/loader.css"/>
    
    <script >
    $(document).ready(function () {
        // Handler for .ready() called.
        window.setTimeout(function () {
            location.href = "../Battleships/?id=@(ViewData["id"])";
        }, 2000);
    });
    </script>
}
