﻿@page
@model WebApplication.Pages.Battleships.GameEnd


<div class="justify-content-center align-content-center">
<h1 >@Model.Winner has won!</h1>
<form method="post" class="justify-content-center">
    <input type="hidden" asp-for="GameId" value="@(Model.GameId)">
    <button type="submit" class="btn btn-danger">Delete Game?</button>
</form>
</div>