﻿@page
@using System.Diagnostics
@using Domain.Enums
@using GameBrain
@model WebApplication.Pages.Battleships.Gameplay

@functions
{
  string GetCellString(int row, int col, bool isOpponentsBoard)
  {
    if (isOpponentsBoard && row == Model.Row && col == Model.Column) return "💣";
    
    var isAMove = Model.GameBrain.NextMoveByA;
    var board = isAMove && isOpponentsBoard || !isAMove && !isOpponentsBoard
      ? Model.GameBrain.PlayerB.Board
      : Model.GameBrain.PlayerA.Board;

    var cellState = board.GetCellState(row, col);

    return cellState switch
    {
      CellState.Empty => "~",  
      CellState.Ship => isOpponentsBoard ? "~" : "🚢",
      CellState.Miss => "🟡",
      CellState.Hit => "❌",
      CellState.Error => "🔴",
      _ => throw new ArgumentOutOfRangeException()
      };
  }
}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="d-flex justify-content-around">
        <button type="button" id="myBoardBtn" class="btn btn-light" 
                onclick="toggleViews(this, document.getElementById('opBoardBtn'))">Show my board</button>
        <button type="button" id="opBoardBtn" class="btn btn-dark" 
                onclick="toggleViews(this, document.getElementById('myBoardBtn'))">Show opponent's board</button>
      </div>
    </div>
    <div class="col-sm">
      <form method="post" class="form-row justify-content-center">
        <span class="d-inline input-group-text">Coordinates: <span id="coord-label">@ViewData["initCoords"]</span></span>
        <input type="hidden" asp-for="GameId" value="@(Model.GameId)">
        <input type="hidden" id="b-row" asp-for="Row" value="@(Model.Row)">
        <input type="hidden" id="b-col" asp-for="Column" value="@(Model.Column)">
        <button id="submitBtn" class="btn btn-danger text-dark" type="submit" 
                @(Model.ShouldDisableButton ? "disabled" : "")><strong>Place Bomb!</strong></button>
      </form>
    </div>
  </div>
</div>



<br/>

<div id="myBoard" class="game-board table-responsive d-none">
  <table class="table table-bordered table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      @for (var col = 0; col < Model.Columns; col++)
      {
        <th scope="col">@col</th>
      }
    </tr>
    </thead>
    <tbody>
    @for (var row = 0; row < Model.Rows; row++)
    {
      <tr>
        <th scope="row">@row</th>
        @for (var col = 0; col < Model.Columns; col++)
        {
          <th data-toggle="tooltip" data-placement="left" title="@row, @col">
            @GetCellString(row, col, false)
          </th>
        }
      </tr>
    }
    </tbody>
  </table>
</div>

<div id="opBoard" class="game-board table-responsive d-block">
  <table class="table table-bordered table-dark">
    <thead>
    <tr>
      <th scope="col" data-toggle="tooltip" data-placement="left" title="Random Cell" style="cursor: pointer" 
                onclick="placeRndBomb()">R</th>
      @for (var col = 0; col < Model.Columns; col++)
      {
        <th scope="col">@col</th>
      }
    </tr>
    </thead>
    <tbody>
    @for (var row = 0; row < Model.Rows; row++)
    {
    <tr>
      <th scope="row">@row</th>
      @for (var col = 0; col < Model.Columns; col++)
      {
        <th data-toggle="tooltip" data-placement="left" title="@row, @col" style="cursor: pointer" id="@row-@col" 
            onclick="@(Model.IsAiTurn ? "alert('It is an Ai turn, just look on it and confirm it')" : "drawTmpBomb(this)")">
          @GetCellString(row, col, true)
        </th>
      }
    </tr>
    }
    </tbody>
  </table>
</div>

@section Scripts
{
  <script >
  const BOMB_STR = "💣";
  let cellOrigContent = {};
  let tmpBombCell = undefined;
  
  function placeRndBomb() {
      let cellContent = undefined;
      let cell = undefined;
      while (!(cellContent === "~")) {
        let row = Math.floor(Math.random() * @Model.Rows);
        let col = Math.floor(Math.random() * @Model.Columns);
        cell = document.getElementById(row+'-'+col);
        cellContent = cell.innerText;
      }
      drawTmpBomb(cell);
  }
      
  
  function removeTmpBomb() {
    if (tmpBombCell === undefined) return;
    tmpBombCell.innerText = cellOrigContent[tmpBombCell.id];
  }
  
  function drawTmpBomb(cell) {
    removeTmpBomb();
    let btn = document.getElementById('submitBtn');
    let cellId = cell.id;
    let coords = cellId.split("-");
    let row = parseInt(coords[0]);
    let col = parseInt(coords[1]);
    
    tmpBombCell = cell;
    if (validateAndRedrawCell(cell)) {
      if (btn.disabled) {
          btn.disabled = false;
      }
      document.getElementById('b-row').value = row;
      document.getElementById('b-col').value = col;
      document.getElementById('coord-label').innerText = `(${row}, ${col})`
      return;
    }
    btn.disabled = true
    document.getElementById('b-row').value = -1;
    document.getElementById('b-col').value = -1;
  }
  
  function validateAndRedrawCell(bombCell) {
      let text = bombCell.innerText;
      if (!(bombCell.id in cellOrigContent)) {
          cellOrigContent[bombCell.id] = text;
      }
      
      if (text == "~" || text == BOMB_STR) {
        bombCell.innerText = BOMB_STR;
        return true;
      }
      else {
        if (text == "🟡" || text == "❌") alert("Can't place bomb twice on same location");
        else alert("Yo, we have some problems. Cell Text is " + text);
        return false;
      }
  }
  </script>

  <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
  </script>

  <script>
  function toggleViews(btn, other) {
    toggleView(btn);
    toggleView(other)
  }
  
  function toggleView(btn) {
    let id = btn.id;
    toggleBtnClass(btn)
    
    let board = document.getElementById(id === "myBoardBtn" ? "myBoard" : "opBoard")
    toggleBoardDisplay(board)
  }
 
  function toggleBtnClass(btn) {
    if (btn.classList.contains("btn-dark")) btn.className = "btn btn-light"
    else btn.className = "btn btn-dark"
  }
    
  function toggleBoardDisplay(board) {
    if (board.classList.contains("d-none")) board.className = "board table-responsive d-block"
    else board.className = "game-board table-responsive d-none";
  }
  </script>
}
