﻿@page
@model WebApplication.Pages.Battleships.Index

<div class="align-content-center">
    <h2>@Model.PlayerName's turn</h2>
    <br/>
    <form method="post">
        <input type="hidden" name="id" value="@ViewData["id"]">
        <input type="hidden" name="pid" value="@ViewData["pid"]">
        <input type="hidden" name="handler" value="@Model.Handler" />
        <button asp-page-handler="" class="btn btn-dark">@Model.BtnText</button>
    </form>
    </div>