﻿@page
@using GameBrain
@model WebApplication.Pages.Battleships.SetUp

@functions{

    string GetCellString(int row, int col)
    {
        if (Model.CurrentPlayer.PlayerId == 0) return "???";

        var cellState = Model.CurrentPlayer.Board.GetCellState(row, col);

        return cellState switch
        {
            CellState.Empty => "~",  
            CellState.Ship => "🚢",
            CellState.Miss => "🟡",
            CellState.Hit => "❌",
            CellState.Error => "🔴",
            _ => throw new ArgumentOutOfRangeException()
            };
    }

}

<form method="post">
    <select class="form-control" asp-for="ShipId" id="s-select" asp-items="@Model.ShipsSelectList"
            onchange="changeShip(this)"></select>
    <input type="hidden" id="ship-size" name="ship-size" value="@Model.FirstSelectedShipSize" />
    <input type="hidden" id="was-placed" asp-for="WasPlaced" value="@(Model.WasPlaced)">
    <input type="hidden" asp-for="GameId" value="@(Model.GameId)">
    <input type="hidden" id="x-anchor" asp-for="AnchorX" value="0">
    <input type="hidden" id="y-anchor" asp-for="AnchorY" value="0">
    <div class="input-group">
        <label for="s-layout" class="input-group-text">Should place ship vertically?</label>
        <input class="check-input" id="s-layout" asp-for="IsVerticalLayout" onchange="switchLayout()">
            
    </div>
    <button id="submitBtn" type="submit" class="btn btn-primary" disabled>Choose Ship Location Before Clicking</button>
</form>

<div id="myBoard" class="game-board table-responsive">
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col" data-toggle="tooltip" data-placement="left" title="Choose location randomly"
                 style="cursor: pointer" onclick="placeRndShip()">R</th>
            @for (var col = 0; col < Model.Columns; col++)
            {
                <th scope="col">@col</th>
            }
        </tr>
        </thead>
        <tbody>
        @for (var row = 0; row < Model.Rows; row++)
        {
            <tr>
                <th scope="row">@row</th>
                @for (var col = 0; col < Model.Columns; col++)
                {
                    <th data-toggle="tooltip" data-placement="left" title="@row, @col" id="@row-@col"
                        style="cursor: pointer" onclick="changeShipLocation(this)">
                        @GetCellString(row, col)
                    </th>
                }
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script >
    const MAX_ROWS = parseInt(@Model.Rows);
    const MAX_COLS = parseInt(@Model.Columns);
    const SHIP_PLACEMENT_RULE = parseInt(@Model.ShipPlacementRule); // 0 -cant touch, 1 - corners can touch, 2 - can touch
    
    let prevCellsText = [];
    let currShipCells = [];
    let origCellContent = {};
    
    function changeShip(sel) {
        let selectedText = sel.options[sel.selectedIndex].text;
        let regex = /1x(\d+)/;
        document.getElementById('ship-size').value = parseInt(selectedText.match(regex)[1]);
        removeTempShip();
    }
    
    function removeTempShip() {
        for (let cell of currShipCells) {
            cell.innerText = origCellContent[cell.id];
        }
        currShipCells = [];
    }
    
    function switchLayout() {
        if (currShipCells.length === 0) return;
        let firstCell = currShipCells[0];
        relocateShip(firstCell);
    }
    
    function redrawCell(shipCell) {
        let text = shipCell.innerText;
        if (!(shipCell.id in origCellContent)) {
            origCellContent[shipCell.id] = text;
        }
        if (text === "🚢") shipCell.innerText = "🔴";
        else if (text === "~") shipCell.innerText = "🚢";
        else alert("Yo, we have some problems. Cell Text is " + text)
    }
    
    function canBeLocated(i, j, isVerticalLayout, shipCells) {
        let row = isVerticalLayout ? i : j;
        let col = isVerticalLayout ? j : i;
        let r1 = row - 1 > -1 ? row - 1 : 0;
        let r2 = row + 1 < MAX_ROWS ? row + 1 : row;
        let c1 = col - 1 > -1 ? col - 1 : 0;
        let c2 = col + 1 < MAX_COLS ? col + 1 : col;
        
        if (SHIP_PLACEMENT_RULE === 2) return true;
        
        for (let r = r1; r <= r2; r++) {
            for (let c = c1; c <= c2; c++) {
                let cellId = r+"-"+c;
                if (shipCells.includes(cellId)) continue;
                let isCorner = r === r1 && c === c1 || r === r2 && c === c2 
                            || r === r1 && c === c2 || r === r2 && c === c1;
                let cellText = document.getElementById(r+"-"+c).innerText;
                if (!isCorner && cellText !== "~") return false;
                if (cellText !== "~" && SHIP_PLACEMENT_RULE === 0) return false;
            }
        }
        return true;
    }
    
    function changeShipLocation(cell) {
        let isVerticalLayout = document.getElementById('s-layout').checked;
        relocateShip(cell,  isVerticalLayout);
    }
    
    function relocateShip(cell, isVerticalLayout) {
        removeTempShip()
        let btn = document.getElementById('submitBtn');
        let name = cell.id;
        let coords = name.split("-");
        let row = parseInt(coords[0]);
        let col = parseInt(coords[1]);
        let size = parseInt(document.getElementById('ship-size').value);
        
        let i0 = isVerticalLayout ? row : col;
        let max = i0 + size;
        let lim = isVerticalLayout ? MAX_ROWS : MAX_COLS;
        const j = isVerticalLayout ? col : row;
        
        let shipCells = [];
        
        for (let i = i0; i < max; i++) {
            let cellId = isVerticalLayout ? i+"-"+j : j+"-"+i;
            shipCells.push(cellId)
            if (i >= lim) {
                alert("Ship is floating over the board. Take another cell please, I dont want to do calculations and relocate anchor pos in code");
                document.getElementById('x-anchor').value = -1; 
                document.getElementById('y-anchor').value = -1;
                btn.disabled = true;
                return removeTempShip();
            }
           
            if (!canBeLocated(i, j, isVerticalLayout, shipCells)) {
                alert("Ship will violate ship placement rules on " + cellId);
                document.getElementById('x-anchor').value = -1; 
                document.getElementById('y-anchor').value = -1;
                btn.disabled = true;
                return removeTempShip();
            }
            let shipCell = document.getElementById(cellId);
            redrawCell(shipCell);
            currShipCells.push(shipCell);
        }
        
        if (btn.disabled) {
            btn.disabled = false;
            btn.innerText = 'Confirm Placement';
        }
        document.getElementById('was-placed').value = true;
        document.getElementById('x-anchor').value = col; 
        document.getElementById('y-anchor').value = row;
        document.getElementById('s-layout').checked = isVerticalLayout;
    }
    
    function placeRndShip() {
        removeTempShip();
        let isVerticalLayout = Math.floor(Math.random() * 2) === 0;
        let size = parseInt(document.getElementById('ship-size').value);
        
        let anchor = placeInDirection(size, isVerticalLayout);
        if (anchor === undefined) {
            isVerticalLayout = !isVerticalLayout;
            anchor = placeInDirection(size, isVerticalLayout);
        }
        if (anchor === undefined) throw Error("Can't place ship on board. There is no good place available")
        
        let cell = document.getElementById(anchor);
        relocateShip(cell, isVerticalLayout);
    }
    
    function placeInDirection(size, isVerticalLayout) {
        let limR = isVerticalLayout ? MAX_ROWS - size : MAX_ROWS;
        let limC = !isVerticalLayout ? MAX_COLS - size : MAX_COLS;
        let availableCells = getAvailableAnchorPositions(limR, limC);
        let anchorId = undefined;
        let shipCells = [];
        let i = 0;
        while (shipCells.length === 0 && i < availableCells.length) {
            anchorId = availableCells[i++];
            let anchorPos = anchorId.split('-');
            let row = parseInt(anchorPos[0]), col = parseInt(anchorPos[1]);
            
            let i0 = isVerticalLayout ? row : col;
            let max = i0 + size;
            const j = isVerticalLayout ? col : row;

            for (let i = i0; i < max; i++) {
                let cellId = isVerticalLayout ? i+"-"+j : j+"-"+i;
                shipCells.push(cellId)
                if (!canBeLocated(i, j, isVerticalLayout, shipCells)) {
                    shipCells = [];
                    break;
                }
            }
        }
            
        return i === availableCells.length ? undefined : anchorId;
    }

    
    function getAvailableAnchorPositions(rowLim, colLim) {
        let available = [];
        for(let i = 0; i < rowLim; i++) {
          for(let j = 0; j < colLim; j++) {
            available.push(i+"-"+j);
          }
        }
        return shuffle(available);
    }
    
    function shuffle(array) {
      let currentIndex = array.length;
      let temporaryValue = undefined;
      let randomIndex = undefined;
    
      // While there remain elements to shuffle...
      while (0 !== currentIndex) {
    
        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;
    
        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }
    
      return array;
    }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
